.site-layout-content {
  min-height: 280px;
  height: 100%;
  padding: 24px;
  background: #fff;
  overflow: auto;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.content {
  padding: 50px;
}
